body {
    font-family: 'Roboto';
        font-size: 14px;
}

.logo {
    text-decoration: none;
    color:black;
    font-size: 26px;
}

.logo span {
    color:#2196F3;
}

 /* Header Section */

.activ {
    color: #2196f3 !important;
}

.top-nav ul li a {
    color: black;
    text-decoration: none;
}

.top-nav ul li a:hover{
    color:#2196F3;
}

.telefon {
    color:#757575;
}

 /* Main */

 .about-elements {
    display: flex;
    gap: 26px;
    font-size: 12px;
 }

 .hover-element:hover {
    color:#2196F3;
 }

.hover-element {
    color: #757575;
    text-decoration: none;
} 