body {
    font-family: 'Roboto';
    font-size: 14px;
    padding-top: 50px;
}

.logo {
    text-decoration: none;
    color:black;
    font-size: 26px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

.logo span {
    color:#2196F3;
}

 /* Header Section */

 .header-elements {
    display:flex;
 }

.activ {
    color: #2196f3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav ul li a {
    text-decoration: none;
}

.top-nav ul li a:hover{
    color:#2196F3;
}

.right-nav {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}


.telefon {
    color:#757575;
}

 /* Main */

 .about-elements {
    display: flex;
    gap: 26px;
    font-size: 12px;
 }

 .hover-element:hover {
    color:#2196F3;
 }

.hover-element {
    color: #757575;
    text-decoration: none;
} 

.section {
    color:#FFFFFF;
    text-decoration: none;
    text-align: center;
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    top: 80px;
    gap: 0px;
    opacity: 0px;
}

.button {
    color:#FFFFFF;
    text-decoration: none;
    background-color:#2196F3;
    width: 200px;
    height: 50px;
    top: 430px;
    left: 700px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}



/* Footer */

.hover-element:hover {
    color: #2196F3;
}

.hover-element {
    color: #757575;
    text-decoration: none;
}

.background {
    background-color:#2F303A;
    text-decoration: none;
    
}

.background p {
    color: #FFFFFF;
    text-decoration: none;
}