:root {
    --primary-color: #007bff;
    --secondary-color: #2196F3;
    --text-color: #333;
    --background-color: #ECECEC;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 14px;
    --container-width: 1600px;
    --gap: 20px;
    --padding-top: 50px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    padding-top: var(--padding-top);
    padding-left: calc((100% - var(--container-width)) / 2);
    padding-right: calc((100% - var(--container-width)) / 2);
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 26px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

.logo span {
    color: var(--secondary-color);
}

.hand-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.hand-icon {
    width: 50px;
    height: 50px;
    background-image: url('http://www.w3.org/2000/svg');
    background-size: cover;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px;
    background-color: var(--background-color);
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav li {
    display: inline;
}

.top-nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

.top-nav a:hover {
    color: var(--secondary-color);
}

.right-nav a {
    text-decoration: none;
    color: #757575;
    padding: 10px;
}

.right-nav a:hover {
    color: var(--secondary-color);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

/* Main */
.main {
    padding: var(--gap);
}

.section {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    background-color: #2F303A;
    width: var(--container-width);
    height: 600px;
    top: 80px;
    gap: 0px;
    opacity: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    color: #FFFFFF;
    text-decoration: none;
    background-color: var(--primary-color);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    opacity: 0px;
    margin: 20px auto 0;
}

/* Styles for .team section */
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--gap);
}

.team h2 {
    margin-bottom: var(--gap);
}

/* Images */
.hero-elements {
    display: flex;
    gap: var(--gap);
    justify-content: center;
}

.hero-elements .hover-element {
    cursor: pointer;
}

.about-elements {
    display: flex;
    gap: 26px;
    font-size: 12px;
    text-align: center;
}

/* Styles for .our-team section */
.our-team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: var(--gap);
    margin: auto;
    text-align: center;
}

/* Styles for .image-gallery section */
.image-gallery {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: var(--gap);
    text-align: center;
    width: 1170px;
}

.image-gallery-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
}

.item:last-child {
    margin-right: 0;
}

.text {
    margin-top: var(--gap);
}

/* Footer */
.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: var(--gap);
    text-align: center;
}

.hover-element:hover {
    color: var(--secondary-color);
}

.hover-element {
    color: #757575;
    text-decoration: none;
}

.footer-content {
    background-color: #2F303A;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: var(--gap);
}

.footer-content p {
    color: white;
}

.footer-content div a {
    color: white;
    text-decoration: none;
}

.footer-content div a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}